*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Open Sans';
    box-sizing: border-box;
}
/*CIS133 Frankie Escarcega 2022*/
body {
    background-color: #1d2b42;
}
/*Navigation Line Starts Here*/
nav {
    background-color: #00000050;
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 2%;
    padding-right: 2%;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    align-content: center;
    padding: 5px 35px;
    font-weight: 500;
}
nav ul li a {
    color: #ebebeb;
    text-decoration: none;
}
/*This is the thin blue line that appears under the navigation text*/
.navigator nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #ffd65a;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.navigator nav ul li:hover::after{
    width: 100%;
}
.logo {
    color: whitesmoke;
    font-size: 64px;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-left: 2%;
}
/*Other themes apply to the same object on all pages*/
.view img {
    margin: auto;
    width: 100%;
    display: flex;
}
.description h1 {
    text-align: Left;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 16px;
}
.about {
    width: 100%;
    font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	padding: 5%;
}
.about-text p{
    text-align: left;
    color: #ffffffa2;
    font-size: 18px;
}
.brief {
    width: 100%;
    padding: 2% 4%;
    background-color: rgba(0, 0, 0, 0.449);
}
.brief-text p{
    color: whitesmoke;
    font-size: 18px;
	line-height: 1.5; /* Controls the space between lines */
	letter-spacing: 0.5px; /* Controls the space bewteen characters */
}
footer {
    position: relative;
    text-align: right;
    padding-top: 32px;
    padding-bottom: 32px;
}
footer p{
    color: whitesmoke;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 4px;
    padding-left: 4%;
    padding-right: 4%;
}
.amenities {
    background: rgba(0, 0, 0, 0.212);
    width: 100%;
    padding: 100px 0px;
}
.square {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.square p{
    color: white;
    padding-top: 32px;
    padding-bottom: 32px;
}
.ico {
	height: 450px;
	width: 350px;
	padding: 20px 35px;
	background: #00000096;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
    border-radius: 8px;
}
h3 {
    color: #ffffff;
    text-align: center;
    padding: 16px;
}
h2 {
    color: #ffd65a;
    text-align: center;
    font-size: 32px;
}
video {
    display: flex;
    width: 100%;
}